USER_FIRST_NAME=YourName
USER_LAST_NAME=YourSurname
USER_EMAIL=name.surname@nu.edu.kz
USER_ID_CARD=NUID
USER_DEPARTMENT=Your School
USER_PURPOSE=Your purpose
HEADLESS=false
BASE_URL=https://nu-kz.libcal.com/reserve/individuals
TIMEOUT_MS=20000g